<div class="form-group">
    <div class="dropdown dropdown-scroll btn-block">
        <button class="btn btn-default dropdown-toggle btn-block" type="button" data-toggle="dropdown"><img src="images/blank.png" style="width: 17px; height: 12px; vertical-align: middle;" class="sprite {{currency.label}}_lille"> {{currency.label}}: {{currency.text}} <span class="caret"></span></button>
        <ul class="dropdown-menu btn-block" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
                <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input type="text" class="form-control" placeholder="Search..." ng-model="vm.query"></input>
            </div>
            </li>
            <li role="presentation" ng-repeat='currentCurrency in vm.currenciesSearchResult'>
                <a href="" ng-click="vm.selectNewCurrency(currentCurrency)"><img src="images/blank.png" style="width: 17px; height: 12px; vertical-align: middle;" class="sprite {{currentCurrency.label}}_lille"> {{currentCurrency.label}}: {{currentCurrency.text}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="form-group">
    <input type="text" class="form-control" aria-label="..." placeholder="{{currency.text}}" ng-model="input" ng-focus="vm.takeFocus()" ng-blur="vm.releaseFocus()" tabindex="{{tabIndex}}">
</div>
