<div class="col-sm-12 col-md-6">
    <x-currency-converter-input currencies="currencies"
                                currency="leftCurrency"
                                target-currency="rightCurrency"
                                input="leftInput"
                                output="rightInput"
                                tab-index="1"></x-currency-converter-input>
</div>
<div class="col-sm-12 col-md-6">
    <x-currency-converter-input currencies="currencies"
                                currency="rightCurrency"
                                target-currency="leftCurrency"
                                input="rightInput"
                                output="leftInput"
                                tab-index="2"></x-currency-converter-input>
</div>
