/* line 1, ../../app/styles/valuta_flag.scss */
.sprite {
  background: url("../images/valuta_flag_sprite.png") no-repeat top left;
}

/* line 2, ../../app/styles/valuta_flag.scss */
.sprite.AUD_lille {
  background-position: 0px 0px;
  width: 17px;
  height: 12px;
}

/* line 3, ../../app/styles/valuta_flag.scss */
.sprite.BBD_lille {
  background-position: -18px 0px;
  width: 18px;
  height: 12px;
}

/* line 4, ../../app/styles/valuta_flag.scss */
.sprite.AWG_lille {
  background-position: -37px 0px;
  width: 18px;
  height: 12px;
}

/* line 5, ../../app/styles/valuta_flag.scss */
.sprite.BGL_lille {
  background-position: -56px 0px;
  width: 18px;
  height: 12px;
}

/* line 6, ../../app/styles/valuta_flag.scss */
.sprite.BGN_lille {
  background-position: -75px 0px;
  width: 17px;
  height: 12px;
}

/* line 7, ../../app/styles/valuta_flag.scss */
.sprite.BOB_lille {
  background-position: -93px 0px;
  width: 18px;
  height: 12px;
}

/* line 8, ../../app/styles/valuta_flag.scss */
.sprite.BHD_lille {
  background-position: -112px 0px;
  width: 20px;
  height: 12px;
}

/* line 9, ../../app/styles/valuta_flag.scss */
.sprite.BND_lille {
  background-position: -133px 0px;
  width: 18px;
  height: 9px;
}

/* line 10, ../../app/styles/valuta_flag.scss */
.sprite.BIF_lille {
  background-position: -152px 0px;
  width: 18px;
  height: 12px;
}

/* line 11, ../../app/styles/valuta_flag.scss */
.sprite.BRL_lille {
  background-position: -171px 0px;
  width: 17px;
  height: 12px;
}

/* line 12, ../../app/styles/valuta_flag.scss */
.sprite.BMD_lille {
  background-position: -189px 0px;
  width: 24px;
  height: 12px;
}

/* line 13, ../../app/styles/valuta_flag.scss */
.sprite.BSD_lille {
  background-position: -214px 0px;
  width: 24px;
  height: 12px;
}

/* line 14, ../../app/styles/valuta_flag.scss */
.sprite.BTN_lille {
  background-position: -239px 0px;
  width: 18px;
  height: 12px;
}

/* line 15, ../../app/styles/valuta_flag.scss */
.sprite.BZD_lille {
  background-position: -258px 0px;
  width: 18px;
  height: 12px;
}

/* line 16, ../../app/styles/valuta_flag.scss */
.sprite.BWP_lille {
  background-position: -277px 0px;
  width: 17px;
  height: 12px;
}

/* line 17, ../../app/styles/valuta_flag.scss */
.sprite.CAD_lille {
  background-position: -295px 0px;
  width: 17px;
  height: 12px;
}

/* line 18, ../../app/styles/valuta_flag.scss */
.sprite.CHF_lille {
  background-position: -313px 0px;
  width: 17px;
  height: 12px;
}

/* line 19, ../../app/styles/valuta_flag.scss */
.sprite.CLP_lille {
  background-position: -331px 0px;
  width: 18px;
  height: 12px;
}

/* line 20, ../../app/styles/valuta_flag.scss */
.sprite.CNY_lille {
  background-position: -350px 0px;
  width: 18px;
  height: 12px;
}

/* line 21, ../../app/styles/valuta_flag.scss */
.sprite.COP_lille {
  background-position: -369px 0px;
  width: 18px;
  height: 12px;
}

/* line 22, ../../app/styles/valuta_flag.scss */
.sprite.CRC_lille {
  background-position: -388px 0px;
  width: 18px;
  height: 11px;
}

/* line 23, ../../app/styles/valuta_flag.scss */
.sprite.CUP_lille {
  background-position: -407px 0px;
  width: 18px;
  height: 10px;
}

/* line 24, ../../app/styles/valuta_flag.scss */
.sprite.CZK_lille {
  background-position: -426px 0px;
  width: 18px;
  height: 12px;
}

/* line 25, ../../app/styles/valuta_flag.scss */
.sprite.CYP_lille {
  background-position: -445px 0px;
  width: 20px;
  height: 12px;
}

/* line 26, ../../app/styles/valuta_flag.scss */
.sprite.DJF_lille {
  background-position: -466px 0px;
  width: 17px;
  height: 12px;
}

/* line 27, ../../app/styles/valuta_flag.scss */
.sprite.DKK_lille {
  background-position: -484px 0px;
  width: 17px;
  height: 12px;
}

/* line 28, ../../app/styles/valuta_flag.scss */
.sprite.DZD_lille {
  background-position: -502px 0px;
  width: 18px;
  height: 12px;
}

/* line 29, ../../app/styles/valuta_flag.scss */
.sprite.DOP_lille {
  background-position: -521px 0px;
  width: 18px;
  height: 10px;
}

/* line 30, ../../app/styles/valuta_flag.scss */
.sprite.ECS_lille {
  background-position: -540px 0px;
  width: 18px;
  height: 9px;
}

/* line 31, ../../app/styles/valuta_flag.scss */
.sprite.EEK_lille {
  background-position: -559px 0px;
  width: 19px;
  height: 12px;
}

/* line 32, ../../app/styles/valuta_flag.scss */
.sprite.EGP_lille {
  background-position: -579px 0px;
  width: 18px;
  height: 12px;
}

/* line 33, ../../app/styles/valuta_flag.scss */
.sprite.EUR_lille {
  background-position: -598px 0px;
  width: 18px;
  height: 12px;
}

/* line 34, ../../app/styles/valuta_flag.scss */
.sprite.FJD_lille {
  background-position: -617px 0px;
  width: 24px;
  height: 12px;
}

/* line 35, ../../app/styles/valuta_flag.scss */
.sprite.FKP_lille {
  background-position: -642px 0px;
  width: 18px;
  height: 9px;
}

/* line 36, ../../app/styles/valuta_flag.scss */
.sprite.GHC_lille {
  background-position: -661px 0px;
  width: 17px;
  height: 12px;
}

/* line 37, ../../app/styles/valuta_flag.scss */
.sprite.GBP_lille {
  background-position: -679px 0px;
  width: 17px;
  height: 12px;
}

/* line 38, ../../app/styles/valuta_flag.scss */
.sprite.GIP_lille {
  background-position: -697px 0px;
  width: 24px;
  height: 12px;
}

/* line 39, ../../app/styles/valuta_flag.scss */
.sprite.GTQ_lille {
  background-position: -722px 0px;
  width: 18px;
  height: 11px;
}

/* line 40, ../../app/styles/valuta_flag.scss */
.sprite.HNL_lille {
  background-position: -741px 0px;
  width: 17px;
  height: 12px;
}

/* line 41, ../../app/styles/valuta_flag.scss */
.sprite.GYD_lille {
  background-position: -759px 0px;
  width: 18px;
  height: 11px;
}

/* line 42, ../../app/styles/valuta_flag.scss */
.sprite.HKD_lille {
  background-position: -778px 0px;
  width: 18px;
  height: 12px;
}

/* line 43, ../../app/styles/valuta_flag.scss */
.sprite.HUF_lille {
  background-position: -797px 0px;
  width: 18px;
  height: 12px;
}

/* line 44, ../../app/styles/valuta_flag.scss */
.sprite.HRK_lille {
  background-position: -816px 0px;
  width: 24px;
  height: 12px;
}

/* line 45, ../../app/styles/valuta_flag.scss */
.sprite.HTG_lille {
  background-position: -841px 0px;
  width: 18px;
  height: 11px;
}

/* line 46, ../../app/styles/valuta_flag.scss */
.sprite.IDR_lille {
  background-position: -860px 0px;
  width: 18px;
  height: 12px;
}

/* line 47, ../../app/styles/valuta_flag.scss */
.sprite.ILS_lille {
  background-position: -879px 0px;
  width: 17px;
  height: 12px;
}

/* line 48, ../../app/styles/valuta_flag.scss */
.sprite.INR_lille {
  background-position: -897px 0px;
  width: 18px;
  height: 12px;
}

/* line 49, ../../app/styles/valuta_flag.scss */
.sprite.IRR_lille {
  background-position: -916px 0px;
  width: 20px;
  height: 11px;
}

/* line 50, ../../app/styles/valuta_flag.scss */
.sprite.IQD_lille {
  background-position: -937px 0px;
  width: 18px;
  height: 12px;
}

/* line 51, ../../app/styles/valuta_flag.scss */
.sprite.ISK_lille {
  background-position: -956px 0px;
  width: 17px;
  height: 12px;
}

/* line 52, ../../app/styles/valuta_flag.scss */
.sprite.JMD_lille {
  background-position: -974px 0px;
  width: 24px;
  height: 12px;
}

/* line 53, ../../app/styles/valuta_flag.scss */
.sprite.JOD_lille {
  background-position: -999px 0px;
  width: 24px;
  height: 12px;
}

/* line 54, ../../app/styles/valuta_flag.scss */
.sprite.JPY_lille {
  background-position: -1024px 0px;
  width: 17px;
  height: 12px;
}

/* line 55, ../../app/styles/valuta_flag.scss */
.sprite.KES_lille {
  background-position: -1042px 0px;
  width: 17px;
  height: 12px;
}

/* line 56, ../../app/styles/valuta_flag.scss */
.sprite.KHR_lille {
  background-position: -1060px 0px;
  width: 18px;
  height: 12px;
}

/* line 57, ../../app/styles/valuta_flag.scss */
.sprite.KPW_lille {
  background-position: -1079px 0px;
  width: 24px;
  height: 12px;
}

/* line 58, ../../app/styles/valuta_flag.scss */
.sprite.KRW_lille {
  background-position: -1104px 0px;
  width: 18px;
  height: 12px;
}

/* line 59, ../../app/styles/valuta_flag.scss */
.sprite.KWD_lille {
  background-position: -1123px 0px;
  width: 18px;
  height: 9px;
}

/* line 60, ../../app/styles/valuta_flag.scss */
.sprite.KYD_lille {
  background-position: -1142px 0px;
  width: 18px;
  height: 9px;
}

/* line 61, ../../app/styles/valuta_flag.scss */
.sprite.LAK_lille {
  background-position: -1161px 0px;
  width: 18px;
  height: 12px;
}

/* line 62, ../../app/styles/valuta_flag.scss */
.sprite.KZT_lille {
  background-position: -1180px 0px;
  width: 18px;
  height: 9px;
}

/* line 63, ../../app/styles/valuta_flag.scss */
.sprite.LBP_lille {
  background-position: -1199px 0px;
  width: 18px;
  height: 12px;
}

/* line 64, ../../app/styles/valuta_flag.scss */
.sprite.LKR_lille {
  background-position: -1218px 0px;
  width: 18px;
  height: 9px;
}

/* line 65, ../../app/styles/valuta_flag.scss */
.sprite.LTL_lille {
  background-position: -1237px 0px;
  width: 18px;
  height: 12px;
}

/* line 66, ../../app/styles/valuta_flag.scss */
.sprite.LVL_lille {
  background-position: -1256px 0px;
  width: 24px;
  height: 12px;
}

/* line 67, ../../app/styles/valuta_flag.scss */
.sprite.MAD_lille {
  background-position: -1281px 0px;
  width: 17px;
  height: 12px;
}

/* line 68, ../../app/styles/valuta_flag.scss */
.sprite.MNT_lille {
  background-position: -1299px 0px;
  width: 18px;
  height: 9px;
}

/* line 69, ../../app/styles/valuta_flag.scss */
.sprite.MTL_lille {
  background-position: -1318px 0px;
  width: 18px;
  height: 12px;
}

/* line 70, ../../app/styles/valuta_flag.scss */
.sprite.MVR_lille {
  background-position: -1337px 0px;
  width: 18px;
  height: 12px;
}

/* line 71, ../../app/styles/valuta_flag.scss */
.sprite.MXN_lille {
  background-position: -1356px 0px;
  width: 17px;
  height: 12px;
}

/* line 72, ../../app/styles/valuta_flag.scss */
.sprite.MYR_lille {
  background-position: -1374px 0px;
  width: 24px;
  height: 12px;
}

/* line 73, ../../app/styles/valuta_flag.scss */
.sprite.NGN_lille {
  background-position: -1399px 0px;
  width: 17px;
  height: 12px;
}

/* line 74, ../../app/styles/valuta_flag.scss */
.sprite.NPR_lille {
  background-position: -1417px 0px;
  width: 12px;
  height: 14px;
}

/* line 75, ../../app/styles/valuta_flag.scss */
.sprite.NOK_lille {
  background-position: -1430px 0px;
  width: 17px;
  height: 12px;
}

/* line 76, ../../app/styles/valuta_flag.scss */
.sprite.NIO_lille {
  background-position: -1448px 0px;
  width: 17px;
  height: 12px;
}

/* line 77, ../../app/styles/valuta_flag.scss */
.sprite.NZD_lille {
  background-position: -1466px 0px;
  width: 17px;
  height: 12px;
}

/* line 78, ../../app/styles/valuta_flag.scss */
.sprite.PAB_lille {
  background-position: -1484px 0px;
  width: 18px;
  height: 12px;
}

/* line 79, ../../app/styles/valuta_flag.scss */
.sprite.PEN_lille {
  background-position: -1503px 0px;
  width: 18px;
  height: 12px;
}

/* line 80, ../../app/styles/valuta_flag.scss */
.sprite.PHP_lille {
  background-position: -1522px 0px;
  width: 24px;
  height: 12px;
}

/* line 81, ../../app/styles/valuta_flag.scss */
.sprite.PKR_lille {
  background-position: -1547px 0px;
  width: 18px;
  height: 12px;
}

/* line 82, ../../app/styles/valuta_flag.scss */
.sprite.RON_lille {
  background-position: -1566px 0px;
  width: 18px;
  height: 12px;
}

/* line 83, ../../app/styles/valuta_flag.scss */
.sprite.ROL_lille {
  background-position: -1585px 0px;
  width: 18px;
  height: 12px;
}

/* line 84, ../../app/styles/valuta_flag.scss */
.sprite.PYG_lille {
  background-position: -1604px 0px;
  width: 18px;
  height: 12px;
}

/* line 85, ../../app/styles/valuta_flag.scss */
.sprite.RUB_lille {
  background-position: -1623px 0px;
  width: 18px;
  height: 12px;
}

/* line 86, ../../app/styles/valuta_flag.scss */
.sprite.SBD_lille {
  background-position: -1642px 0px;
  width: 18px;
  height: 9px;
}

/* line 87, ../../app/styles/valuta_flag.scss */
.sprite.PLN_lille {
  background-position: -1661px 0px;
  width: 17px;
  height: 11px;
}

/* line 88, ../../app/styles/valuta_flag.scss */
.sprite.SDD_lille {
  background-position: -1679px 0px;
  width: 24px;
  height: 12px;
}

/* line 89, ../../app/styles/valuta_flag.scss */
.sprite.SAR_lille {
  background-position: -1704px 0px;
  width: 18px;
  height: 12px;
}

/* line 90, ../../app/styles/valuta_flag.scss */
.sprite.SEK_lille {
  background-position: -1723px 0px;
  width: 17px;
  height: 12px;
}

/* line 91, ../../app/styles/valuta_flag.scss */
.sprite.SGD_lille {
  background-position: -1741px 0px;
  width: 18px;
  height: 12px;
}

/* line 92, ../../app/styles/valuta_flag.scss */
.sprite.SIT_lille {
  background-position: -1760px 0px;
  width: 18px;
  height: 9px;
}

/* line 93, ../../app/styles/valuta_flag.scss */
.sprite.SKK_lille {
  background-position: -1779px 0px;
  width: 18px;
  height: 12px;
}

/* line 94, ../../app/styles/valuta_flag.scss */
.sprite.SRG_lille {
  background-position: -1798px 0px;
  width: 18px;
  height: 12px;
}

/* line 95, ../../app/styles/valuta_flag.scss */
.sprite.SVC_lille {
  background-position: -1817px 0px;
  width: 18px;
  height: 9px;
}

/* line 96, ../../app/styles/valuta_flag.scss */
.sprite.SYP_lille {
  background-position: -1836px 0px;
  width: 18px;
  height: 12px;
}

/* line 97, ../../app/styles/valuta_flag.scss */
.sprite.SZL_lille {
  background-position: -1855px 0px;
  width: 17px;
  height: 12px;
}

/* line 98, ../../app/styles/valuta_flag.scss */
.sprite.THB_lille {
  background-position: -1873px 0px;
  width: 18px;
  height: 12px;
}

/* line 99, ../../app/styles/valuta_flag.scss */
.sprite.TND_lille {
  background-position: -1892px 0px;
  width: 17px;
  height: 12px;
}

/* line 100, ../../app/styles/valuta_flag.scss */
.sprite.TRY_lille {
  background-position: -1910px 0px;
  width: 18px;
  height: 12px;
}

/* line 101, ../../app/styles/valuta_flag.scss */
.sprite.TRL_lille {
  background-position: -1929px 0px;
  width: 18px;
  height: 12px;
}

/* line 102, ../../app/styles/valuta_flag.scss */
.sprite.TTD_lille {
  background-position: -1948px 0px;
  width: 20px;
  height: 12px;
}

/* line 103, ../../app/styles/valuta_flag.scss */
.sprite.TWD_lille {
  background-position: -1969px 0px;
  width: 18px;
  height: 12px;
}

/* line 104, ../../app/styles/valuta_flag.scss */
.sprite.UAH_lille {
  background-position: -1988px 0px;
  width: 18px;
  height: 12px;
}

/* line 105, ../../app/styles/valuta_flag.scss */
.sprite.USD_lille {
  background-position: -2007px 0px;
  width: 17px;
  height: 12px;
}

/* line 106, ../../app/styles/valuta_flag.scss */
.sprite.UYP_lille {
  background-position: -2025px 0px;
  width: 18px;
  height: 12px;
}

/* line 107, ../../app/styles/valuta_flag.scss */
.sprite.VEB_lille {
  background-position: -2044px 0px;
  width: 18px;
  height: 12px;
}

/* line 108, ../../app/styles/valuta_flag.scss */
.sprite.VND_lille {
  background-position: -2063px 0px;
  width: 18px;
  height: 12px;
}

/* line 109, ../../app/styles/valuta_flag.scss */
.sprite.VUV_lille {
  background-position: -2082px 0px;
  width: 18px;
  height: 11px;
}

/* line 110, ../../app/styles/valuta_flag.scss */
.sprite.WST_lille {
  background-position: -2101px 0px;
  width: 18px;
  height: 13px;
}

/* line 111, ../../app/styles/valuta_flag.scss */
.sprite.YUN_lille {
  background-position: -2120px 0px;
  width: 18px;
  height: 9px;
}

/* line 112, ../../app/styles/valuta_flag.scss */
.sprite.ZAR_lille {
  background-position: -2139px 0px;
  width: 18px;
  height: 12px;
}

/* line 113, ../../app/styles/valuta_flag.scss */
.sprite.ZMK_lille {
  background-position: -2158px 0px;
  width: 18px;
  height: 12px;
}

/* line 114, ../../app/styles/valuta_flag.scss */
.sprite.ZWD_lille {
  background-position: -2177px 0px;
  width: 17px;
  height: 12px;
}

/* line 115, ../../app/styles/valuta_flag.scss */
.sprite.ANG_lille {
  background-position: -2195px 0px;
  width: 18px;
  height: 12px;
}

/* line 116, ../../app/styles/valuta_flag.scss */
.sprite.AED_lille {
  background-position: -2214px 0px;
  width: 18px;
  height: 9px;
}

/* line 117, ../../app/styles/valuta_flag.scss */
.sprite.AFA_lille {
  background-position: -2233px 0px;
  width: 24px;
  height: 12px;
}

/* line 118, ../../app/styles/valuta_flag.scss */
.sprite.ALL_lille {
  background-position: -2258px 0px;
  width: 18px;
  height: 12px;
}

/* line 119, ../../app/styles/valuta_flag.scss */
.sprite.ARS_lille {
  background-position: -2277px 0px;
  width: 17px;
  height: 12px;
}

/* line 120, ../../app/styles/valuta_flag.scss */
.sprite.AON_lille {
  background-position: -2295px 0px;
  width: 18px;
  height: 12px;
}

/*# sourceMappingURL=valuta_flag.css.map */